{% extends 'base.html.twig' %}

{% block title %}Edit SportSession{% endblock %}

{% block body %}
    <h1>Edit SportSession</h1>

    {{ include('sport_session/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('sport_session_index') }}">back to list</a>

    {{ include('sport_session/_delete_form.html.twig') }}
{% endblock %}
