{% extends 'base.html.twig' %}

{% block title %}New SportSession{% endblock %}

{% block body %}
    <h1>Create new SportSession</h1>

    {{ include('sport_session/_form.html.twig') }}

    <div class="col-lg-4 col-sm-6">
        <a href="{{ path('sport_session_index') }}" class="btn btn-secondary">back to list</a>
    </div>
{% endblock %}
