<footer class="bg-white rounded shadow p-5 mb-4 mt-4 bg-gray-800">
    <div class="row text-center align-items-center text-white">
        <p class="footer-content">Coded with
            <i class="far fa-heart" style="color: red"></i>
            by
            <a href="https://lauric.app/"
               target="_blank">
                Lauric
            </a>
            -
            <a href="https://github.com/Lauric-h/Lauric-h" target="_blank" class="">
                <i class="fab fa-github"></i>
            </a>
            /
            <a href="https://www.linkedin.com/in/lauric/" target="_blank" class="">
                <i class="fab fa-linkedin"></i>
            </a>
        </p>
    </div>
</footer>
