{% extends 'base.html.twig' %}

{% block title %}Edit MainSport{% endblock %}

{% block body %}
    <h1>Edit MainSport</h1>

    {{ include('main_sport/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('main_sport_index') }}">back to list</a>

    {{ include('main_sport/_delete_form.html.twig') }}
{% endblock %}
