{% extends 'base.html.twig' %}

{% block title %}New Training Plan{% endblock %}

{% block body %}
    <h1>Create new Training Plan</h1>

    {{ include('training_plan/_form.html.twig') }}

    <a href="{{ path('training_plan_index') }}" class="btn btn-secondary">back to list</a>
{% endblock %}
